# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Build
        run:
          go env -w GO111MODULE=on && go env -w GOPROXY=https://goproxy.cn,direct && go env -w CGO_ENABLED=0 && go mod tidy && go build -o server .
      - name: Push
        env:
          HOST: ${{ secrets.HOST }}
          USER: ${{ secrets.USER }}
          WORKDIR: ${ secrets.WORKDIR }}
        run:
          cwd
          ls
          scp -r -o StrictHostKeyChecking=no server ${{ secrets.USER }}@${{ secrets.HOST }}:/${{ secrets.WORKDIR }}/server
